body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(40, 39, 39);
}

#carousel {
    max-width: 600px;
    position: relative;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel-item {
    display: none;
}

.carousel-item-hidden {
    display: none;
}

.carousel-item-visible {
    display: block;
    animation: fadeVisibility 2s;
}

#carousel-actions {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:space-between;
    top: 27%;
    transform: translateY(-50%);
}

button {
    background-color: white;
    border-radius: 50%;
    border: 0;
    font-weight: bolder;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#carousel-btn-prev {
    margin-left:20px;
}

#carousel-btn-next {
    margin-right: 20px
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#slide-num {
    position: absolute;
    top: 0%;
    color:#000;
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
    text-shadow:0 0 5px white ;
}

#movie-info {
    max-width: 600px;
    margin: 30px;
}

.categories {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin-top: 15px;
}

.categories p,
#name,
.info {
    color: white;
}

.categories p {
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 15px;
}

#name {
    font-size: 48px;
    margin: 0px;
}

.info {
    font-size: 18px;

}

#movie-info a {
    color: rgb(86, 103, 250);
    text-decoration: none;
}